@model EmployeesOfCompany.Models.UserListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Каталог пользователей</h2>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<form method="get">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label class="control-label">Отдел: </label>
            <input name="department" class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">Ф.И.О.: </label>
            <input name="fullname" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label class="control-label">Дата рождения: </label>
            <input type="date" name="birthDate" class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">Дата устройства на работу: </label>
            <input type="date" name="employmentDate" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <label class="control-label">Заработная плата: </label>
            <input name="salary" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group" align="center">
            <button type="submit" class="btn btn-success" value="Фильтр">Фильтр</button>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Employee" asp-route-sortOrder="@ViewBag.DepartmentSort">Отдел</a>
            </th>
            <th>
                <a asp-action="Employee" asp-route-sortOrder="@ViewBag.NameSort">Ф.И.О.</a>
            </th>
            <th>
                <a asp-action="Employee" asp-route-sortOrder="@ViewBag.DateSort">Дата рождения</a>
            </th>
            <th>
                <a asp-action="Employee" asp-route-sortOrder="@ViewBag.EmploymentSort">Дату устройства на работу</a>
            </th>
            <th>
                <a asp-action="Employee" asp-route-sortOrder="@ViewBag.SalarySort">Заработная плата</a>
            </th>
            <th>
                <a class="btn btn-success compItem" href="@Url.Action("CreateOrEdit", new { id = 0 })">Добавить сотрудника</a>
            </th>
        </tr>
    <thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Department)</td>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
                <td>@Html.DisplayFor(modelItem => item.DateOfEmployment)</td>
                <td>@Html.DisplayFor(modelItem => item.Salary)</td>

                <td>
                    <a class="btn btn-warning compItem" href="@Url.Action("CreateOrEdit", new { id = item.EmployeeId })">Редактировать</a>
                </td>
                <td>
                    <button class="btn btn-danger delete" data-id="@item.EmployeeId" data-controller="Employee" data-action="Delete" data-body-message="Вы уверены, что хотите удалить сотрудника?">Удалить</button>
                </td>
            </tr>

        }
    </tbody>
</table>
@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}